<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="fragments/fragment :: sidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <ul th:replace="fragments/fragment :: topbar"></ul>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <!-- <h1 class="h3 mb-4 text-gray-800">Pelatihan</h1> -->

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 th:text="${email}" class="m-0 font-weight-bold text-danger"></h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <label class="font-weight-bold">Nama Lengkap : </label>
                            <p th:text="${pengguna.namaLengkap}"></p>

                            <label class="font-weight-bold">Email : </label>
                            <p th:text="${email}"></p>

                            <label class="font-weight-bold">Domisili : </label>
                            <p th:text="${pengguna.domisili}"></p>

                            <label class="font-weight-bold">Tanggal Lahir : </label>
                            <p th:text="${pengguna.tanggalLahir}"></p>

                            <label class="font-weight-bold">NoTelepon : </label>
                            <p th:text="${pengguna.noTelepon}"></p>

                            <label class="font-weight-bold">NIK: </label>
                            <p th:text="${calendar.nik}"></p>

                            <label class="font-weight-bold">Tanggal Muncul Gejala: </label>
                            <p th:text="${calendar.tanggalMunculGejala}"></p>

                            <label class="font-weight-bold">Tanggal Positif: </label>
                            <p th:text="${calendar.tanggalPositif}"></p>

                            <label class="font-weight-bold">Gejala: </label>
                            <div th:each="p : ${listGejala}">
                                <p th:text="${p}"></p>
                            </div>
                            
                            <br>

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Tanggal</th>
                                    <th>Detail</th>
                                    <th>Status</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="p : ${listRecovery}">
                                    <th th:text="${p.tanggalKalender}" class="font-weight-normal"></th>

                                    <th>
                                        <a th:href="@{/viewRecovery/} + ${p.nomorRecovery}" class="btn btn-danger btn-sm">View</a>
                                    </th>

                                    <th>
                                        <p class="text-danger" th:if="${p.status == 2 && p.feedback == null}"> Belum Diberi Feedback</p>
                                        <p th:if="${p.status == 3 || p.feedback !=null }"> Sudah Diberi Feedback</p>
                                    </th>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
</body>
</html>